<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Application</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>
    <div style="margin-top: 50px" class="container-fluid text-center">
        <a class="h2">Click on this link to add, edit, delete and view the users table:<br></a>
        <a class="h2" th:href="@{/users}">Users</a>
    </div>
    <div style="margin-top: 100px"; class="container-fluid text-center">
        <a class="h2">Click on on this link if you only want to view the users table:   <br></a>
        <a class="h2" th:href="@{/users_read_only}">Read Only</a>
    </div>
</body>
</html>